name: Publish

on:
  push:
    branches-ignore:
      # No canary deploys for branches opened by dependabot
      - 'dependabot/**'

jobs:
  publish:
    runs-on: ubuntu-latest

    name: Publish to NPM

    steps:
      - uses: actions/checkout@v2

      - name: Prepare repository
        run: git fetch --unshallow --tags

      - uses: actions/setup-node@v2.3.0
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Install Node dependencies
        run: yarn --frozen-lockfile

      - name: Create release
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn run release
